@import url('https://fonts.cdnfonts.com/css/avenir-lt-pro');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: 'Avenir LT Pro', Avenir, Inter, system-ui, Helvetica, Arial, sans-serif;
    line-height: normal;
    font-weight: 400;
}

* {
    box-sizing: border-box;
}

body {
    @apply bg-gray-200
}

h1 {
    @apply text-[40px] md:text-[60px];
    background: linear-gradient(93deg, #0080A9 0%, #62D4A8 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 34px;
    display: inline-block;
    background: linear-gradient(93deg, #0080A9 0%, #62D4A8 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    @apply font-bold
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

.gradient-primary {
    background: linear-gradient(93deg, #0080A9 0%, #62D4A8 100%);
}